.formControl.error textarea,
.formControl.error input {
    border: 5px solid red;
}

.formControl.error span {
    color: red;
}

.unauthorizedError {
    color: lime;
    font-weight: bold;
    border: 5px solid purple;
    padding: 10px;
}