.allPageDialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs {
    padding: 10px;
}

.dialogItem {

}

.dialogItem .active{
    color: gold;
}

.messages {
    padding: 10px;
    width: 400px;
}

messageItem {

}